.navbar {
  padding: 0rem 1rem !important;
}

.divider-vertical {
  height: 30px; /* any height */
  border-left: 1px solid gray; /* right or left is the same */
  float: left; /* so BS grid doesn't break */
  opacity: 0.5; /* optional */
  margin: 5px 15px; /* optional */
}
