.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.form-border {
  margin: 0 auto;
  max-width: 420px;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
}

#login {
  height: 100vh;
  background-size: cover;
  padding-top: 60px;
  background-image: url(/images/wf_photo.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
}
